* {
	margin: 0;
	font-family: "Roboto", sans-serif, "Helvetica", sans-serif;
	font-weight: 300;
}

.welcome-outer {
	min-height: 300px;
	position: relative;
	background-color: #1687b8;
	color: #fff;
}

.welcome-inner {
	top: 50%;
	left: 50%;
	min-width: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
	text-align: center;
	font-weight: 300;
}

.welcome-inner h1 {
	font-size: 80px;
	text-align: center;
	margin-bottom: 30px;
}

.btn {
    background: #efefef;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    color: #000;
    font-weight: 400;
}

.btn.btn-login {
    background: #85aeff;
    color: #fff;
}

@media only screen and (max-width: 750px){
	.welcome-inner h1 {
	font-size: 4rem;
	}

	.welcome-inner h2 {
	margin-top: -0.5rem;
	font-size: 1rem;
	}
}


footer {
    text-align: center;
    padding: 25px;
}








/* =============== Login Page ================== */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1687b8;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #1687b8;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}


/* ============================================= */



/* =============== Admin Page ================== */
.admin-wrapper {
    display: flex;
    height: 100vh;
}

.admin-wrapper aside {
    background: #333;
    min-width: 250px;
}

.admin-wrapper aside h2 {
    color: #fff;
    margin: 0;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 50px;
    background: #171717;
}

.admin-wrapper aside ul {
    list-style: none;
    padding: 0;
}

.admin-wrapper aside ul li a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
    background: #272727;
}

.admin-wrapper aside ul li a:hover {
    background: #353535;
}
.main-content {
    width: calc(100% - 270px);
    padding: 20px;
    box-sizing: border-box;
}

.main-content input {
    padding: 10px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}
.main-content select {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.main-content input[type="submit"] {
    width: auto;
    padding: 10px 30px;
    background: #eee;
    cursor: pointer;
}

.main-content table {
    width: 100%;
    border-collapse: collapse;
}

.main-content table td {
    padding: 10px;
    border: 1px solid #eee;
}

.main-content table th {
    background: #171717;
    color: #fff;
    padding: 10px;
    text-align: left;
}
/* ============================================= */












.container {
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 20px;
	text-align: justify;
}

@media only screen and (max-width: 750px) {
	.container {
		width: 90%;
	}
}

.container h1, h2, h3 {
	margin-top: 15px;
	margin-left: 0;
	font-weight: 400;
}

.container span {
	color: #f44336;
	font-weight: 600;
}
